@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-center-alignLeft{
    display: flex;
    justify-content: center;
    align-items: left;
}

@mixin center-grid{
    display: grid;
    justify-content: center;
    text-align: center;
}

@mixin space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin space-aroung-grid{
    display: grid;
    justify-content: space-around;
    align-items: center;
}

@mixin content{
    justify-content: center;
    text-align: center;
}

@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}