* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

hr {
  border-color: #F6F5F2;
}

header {
  width: 90%;
}
header .desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #9F9F9F;
}
header .desc .red {
  color: #F71963;
}
header .desc .buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
header .desc .buy h1,
header .desc h2,
header .desc svg {
  margin: 0 3px 0 3px;
}
header .search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 5px 0;
}
header .search a {
  color: #9F9F9F;
}
header .search button {
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #F6F5F2;
  padding: 0 10px 0 10px;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
header .search form {
  display: flex;
}
header .search input {
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #F6F5F2;
  box-shadow: 0 0 0 0;
  outline: 0;
  padding-left: 10px;
}
header .search .icons {
  display: flex;
}
header .search .icons .icon {
  padding: 0 10px 0 10px;
}
header .search .icon a:hover {
  color: #F71963;
  transition: 0.3s;
}
header .logo {
  width: 139px;
  height: 50.64px;
}
header input {
  width: 657px;
  height: 48px;
}
header .search .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
header .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .links a {
  color: #9F9F9F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 10px 0 10px 0;
}
header .links a:hover {
  color: #F71963;
  transition: 0.3s;
}
header .links .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .links .icon img,
header .links .icon svg {
  padding: 0 10px 0 10px;
}

.banner {
  width: 100%;
  height: 395px;
}

.bannerSize {
  width: 100%;
}

.content {
  justify-content: center;
  text-align: center;
  width: 90%;
}
.content .title {
  color: #F71963;
  font-weight: bold;
}
.content .category {
  height: 174px;
  width: 100%;
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .category .imgCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F71963;
  width: 128px;
  height: 128px;
  background-color: #F6F5F2;
  border-radius: 20px;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
}
.content .category .card {
  height: 100%;
  text-align: -webkit-center;
}
.content .category .card h1 {
  margin-top: 20px;
}
.content .category .card:hover {
  color: #F71963;
  transition: 0.3s;
}
.content .hr {
  display: flex;
  justify-content: space-around;
}
.content .hr hr {
  align-self: center;
  width: 30%;
}
.content .hr .title {
  font-weight: bold;
  font-size: 30px;
}
.content .topics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 25px 0;
}
.content .topics a {
  color: #9F9F9F;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 40px;
  justify-content: center;
  border: solid 1px #9F9F9F;
}
.content .topics a:hover {
  color: #F71963;
  transition: 0.3s;
}
.content .products::-webkit-scrollbar {
  display: none;
}
.content .products {
  text-align: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 8px 0px 8px 0px;
  margin: 25px 0 25px 0;
}
.content .products .topics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .products .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: start;
}
.content .products .cards .buttons {
  width: 97%;
  left: 30px;
  display: flex;
  position: absolute;
  justify-content: space-between;
}
.content .products .cards .buttons button {
  background: none;
  border: none;
  cursor: pointer;
}
.content .products .cards .card {
  height: 500px;
  padding: 10px;
  margin: 0 50px 0 0;
  border-radius: 8px;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
}
.content .products .cards .card .cont {
  height: 100%;
  display: grid;
  /*.modalContent {
      @include flex-center();
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
      height: 299.26px;

      .cont{
          text-align: left;
          margin: 10px 10px 10px 30px;
          @include space-aroung-grid();

          .modal-header{
              display: grid;

              .close{
                  text-align: right;
              }
          }

          .modal-header h2{
              color: $blue;
              font-size: 20px;
          }

          .value{
              color: $blue;
              font-size: 20;
              font-weight:bold;
          }

          .desc{
              color: $gray-black;
              font-size: 10px;
          }

          .more a{
              color: $blue;
              text-decoration: none;
              font-size: 12px;
          }

          .quant{
              width: 110px;
              height: 36px;
              border: solid 2px $blue;
              border-radius: 8px;
              @include space-around();

              button{
                  background-color: white;
                  border: none;
                  width: 20.31px;
                  height: 19.64px;
                  color: $blue;
              }

              p{
                  color: $blue;
              }

              button:hover{
                  cursor: pointer;
              }
          }

          button{
              width: 245px;
              height: 44px;
              background-color: $primarycolor;
              color: white;
              border: none;
              border-radius: 8px;
              cursor:pointer;
          }
      }

      .img{
          margin: 10px 30px 10px 10px;

      }*/
}
.content .products .cards .card .cont img {
  width: 247px;
  height: 228px;
}
.content .products .cards .card .cont .nameProduct {
  width: 245px;
  font-size: 15px;
  font-weight: lighter;
}
.content .products .cards .card .cont .value {
  width: 247px;
}
.content .products .cards .card .cont .value .valueTrue {
  font-weight: lighter;
  font-size: 16px;
  color: #9F9F9F;
  text-decoration: line-through;
}
.content .products .cards .card .cont .value .valueFinal {
  font-weight: bold;
  font-size: 20px;
  color: #3F3F40;
}
.content .products .cards .card .cont .installments,
.content .products .cards .card .cont .frete,
.content .products .cards .card .cont .btn {
  width: 247px;
}
.content .products .cards .card .cont .frete {
  color: #F71963;
}
.content .products .cards .card .cont .btn {
  height: 44px;
  background-color: #F71963;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  align-self: self-end;
}
.content .products .cards .card .cont .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.content .products .cards .card .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.content .products .cards .card .close:hover,
.content .products .cards .card .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.content .products .cards .nameProduct,
.content .products .cards .valueTrue,
.content .products .cards .valueFinal,
.content .products .cards .installments,
.content .products .cards .frete {
  text-align: left;
}
.content .partners {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .partners .card {
  background-image: url("../public/img/image.png");
  width: 589.73px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .partners .card .cardContent {
  display: grid;
  justify-content: center;
  text-align: center;
  text-align: left;
  color: white;
  margin: 35px;
  align-items: self-end;
  align-self: self-end;
  height: 200px;
}
.content .partners .card .cardContent h2 {
  font-weight: bold;
  font-size: 40px;
  width: 196px;
  height: 60px;
}
.content .partners .card .cardContent h1 {
  font-weight: lighter;
  font-size: 16px;
  width: 181px;
  height: 48px;
}
.content .partners .card .cardContent .btn {
  width: 131px;
  height: 48px;
  color: white;
  background-color: #F71963;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.content .title-products-related {
  margin: 70px 0 70px 0;
}
.content .title-products-related .hr {
  display: flex;
  justify-content: space-around;
}
.content .title-products-related .hr hr {
  align-self: center;
  width: 30%;
}
.content .title-products-related h2 {
  font-weight: bold;
  font-size: 30px;
  align-self: center;
}
.content .title-products-related h1 {
  font-size: 15px;
  font-weight: bold;
  color: #3F3F40;
  align-self: center;
}
.content .products-related {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .products-related .card {
  background-image: url("../public/img/image.png");
  width: 589.73px;
  height: 284px;
  border-radius: 10px;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .products-related .card .cardContent {
  display: grid;
  justify-content: center;
  text-align: center;
  text-align: left;
  color: white;
  margin: 35px;
  align-self: self-end;
  height: 70%;
}
.content .products-related .card .cardContent h2 {
  font-weight: bold;
  font-size: 40px;
  width: 196px;
  height: 60px;
}
.content .products-related .card .cardContent h1 {
  font-weight: lighter;
  font-size: 16px;
  width: 181px;
  height: 48px;
}
.content .products-related .card .cardContent .btn {
  width: 131px;
  height: 48px;
  color: white;
  background-color: #F71963;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.content .brands {
  width: 100%;
  height: 331px;
}
.content .brands h1 {
  color: #F71963;
  font-size: 30px;
  font-weight: bold;
  margin: 70px 0 70px 0;
}
.content .brands .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .brands .icons .icon {
  background-color: white;
  width: 211px;
  height: 211px;
  border-radius: 50%;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #2A2A2A;
  height: 325px;
  margin-top: 70px;
  padding: 45px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer .about,
.footer .information,
.footer .payment {
  text-align: left;
  height: 100%;
}
.footer .about h1,
.footer .information h1,
.footer .payment h1 {
  font-weight: bold;
  font-size: 13px;
}
.footer .about h2,
.footer .information h2,
.footer .payment h2 {
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 20px;
}
.footer .about .icons,
.footer .information .icons,
.footer .payment .icons {
  justify-content: space-between;
  display: flex;
}
.footer .about .icons .social,
.footer .information .icons .social,
.footer .payment .icons .social {
  width: 22.02px;
  height: 22px;
  cursor: pointer;
}
.footer .about .title,
.footer .about .cont,
.footer .information .title,
.footer .information .cont,
.footer .payment .title,
.footer .payment .cont {
  margin-bottom: 80px;
}
.footer .register {
  width: 380px;
  height: 260px;
  background-color: white;
  color: #3F3F40;
  border-radius: 8px;
  display: grid;
  align-items: center;
}
.footer .register .cont {
  height: 70%;
  display: grid;
  align-items: center;
  margin: 0 25px 0 25px;
}
.footer .register .cont h1 {
  font-weight: lighter;
  font-size: 18px;
}
.footer .register .cont h2 {
  font-weight: bold;
  font-size: 22px;
}
.footer .register .cont .desc h3 {
  font-weight: lighter;
  font-size: 12px;
  width: 90%;
}
.footer .register .cont .btn input {
  height: 45px;
  border-radius: 8px;
  margin-right: 5px;
  padding: 0 15px 0;
  border: solid 0.5px;
  font-size: 12px;
}
.footer .register .cont .btn button {
  height: 45px;
  background-color: #F71963;
  color: white;
  border-radius: 8px;
  border: none;
  margin-left: 5px;
}
.footer .payment .img {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}
.footer .payment .img .imgPayment {
  width: 55px;
  height: 30.31px;
  margin: 0px 20px 0px 0px;
}
.footer .register {
  align-self: center;
}
.footer .register .title {
  text-align: initial;
}
.footer .register input {
  width: 190px;
  height: 45px;
}
.footer .register button {
  width: 62px;
  height: 45px;
}

.copyright {
  background-color: #2A2A2A;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright h1 {
  font-weight: lighter;
  width: 698px;
  font-size: 10px;
  text-align: initial;
}
.copyright .img {
  display: flex;
}
.copyright .imgVtex,
.copyright .imgEconverse {
  margin: 0 8px 0 8px;
  width: 106.25px;
  height: 31.62px;
}/*# sourceMappingURL=index.css.map */