@import './colors.scss';
@import './functions.scss';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
}

hr {
    border-color: $neutracolor;
}

header {
    width: 90%;

    .desc {
        @include space-around();
        font-size: 12px;
        color: $gray;

        .red {
            color: $primarycolor;
        }

        .buy {
            @include space-around();
            margin: 10px 10px 10px 10px;
        }

        .buy h1,
        h2,
        svg {
            margin: 0 3px 0 3px;

        }
    }

    .search {
        @include space-around();
        margin: 5px 0 5px 0;


        a {
            color: $gray;
        }

        button {
            border: none;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            background-color: $neutracolor;
            padding: 0 10px 0 10px;
            margin: 5px 0 5px 0;
            cursor: pointer;
        }

        form {
            display: flex;
        }

        input {
            border: none;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            background-color: $neutracolor;
            box-shadow: 0 0 0 0;
            outline: 0;
            padding-left: 10px;
        }

        .icons {
            display: flex;
        }

        .icons .icon {
            padding: 0 10px 0 10px;
        }

        .icon a:hover {
            color: $primarycolor;
            transition: 0.3s;
        }
    }

    .logo {
        width: 139px;
        height: 50.64px;
    }

    input {
        width: 657px;
        height: 48px;
    }

    .search .icon {
        @include flex-center();
        width: 32px;
        height: 32px;
    }

    .links {
        @include space-around();

        a {
            color: $gray;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: 12px;
            margin: 10px 0 10px 0;
        }

        a:hover {
            color: $primarycolor;
            transition: 0.3s;
        }

        .icon {
            @include flex-center();

            img,
            svg {
                padding: 0 10px 0 10px;
            }
        }
    }
}


.banner {
    width: 100%;
    height: 395px;
}

.bannerSize {
    width: 100%;
}

.content {
    @include content();
    width: 90%;


    .title {
        color: $primarycolor;
        font-weight: bold;
    }

    .category {
        height: 174px;
        width: 100%;
        margin: 25px 0 25px 0;
        @include space-between();

        .imgCategory {
            @include flex-center();
            color: $primarycolor;
            width: 128px;
            height: 128px;
            background-color: $neutracolor;
            border-radius: 20px;
            box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
        }

        .card {
            height: 100%;
            text-align: -webkit-center;

            h1 {
                margin-top: 20px;
            }
        }

        .card:hover {
            color: $primarycolor;
            transition: 0.3s;

        }
    }

    .topics {
        @include flex-center();
        width: 100%;
        margin: 25px 0 25px 0;

        a {
            color: $gray;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: 18px;
            margin: 10px 0 10px 0;
            width: 100%;
            height: 40px;
            justify-content: center;
            border: solid 2px $gray;
        }

        a:hover {
            color: $primarycolor;
            transition: 0.3s;
        }
    }

    .products {
        text-align: center;
        margin: 25px 0 25px 0;

        .topics {
            @include flex-center();
        }

        .cards {
            @include flex-center();
            margin: 10px;

            .card {
                height: 500px;
                padding: 10px;
                box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);

                .cont {
                    height: 100%;
                    display: grid;

                    img {
                        width: 247px;
                        height: 228px;
                    }

                    .nameProduct {
                        width: 245px;
                    }

                    .value {
                        width: 247px;

                        .valueTrue {
                            font-weight: lighter;
                            font-size: 16px;

                        }

                        .valueFinal {
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }

                    .installments,
                    .frete,
                    .btn {
                        width: 247px;
                    }

                    .frete {
                        color: $primarycolor;
                    }

                    .btn {
                        height: 44px;
                        background-color: $primarycolor;
                        color: white;
                        border: none;
                        border-radius: 8px;
                        cursor: pointer;
                        font-weight: bold;
                        align-self: self-end;
                    }

                    .modal {
                        display: none;
                        /* Hidden by default */
                        position: fixed;
                        /* Stay in place */
                        z-index: 1;
                        /* Sit on top */
                        left: 0;
                        top: 0;
                        width: 100%;
                        /* Full width */
                        height: 100%;
                        /* Full height */
                        overflow: auto;
                        /* Enable scroll if needed */
                        background-color: rgb(0, 0, 0);
                        /* Fallback color */
                        background-color: rgba(0, 0, 0, 0.4);
                        /* Black w/ opacity */
                    }

                    /*.modalContent {
                        @include flex-center();
                        background-color: #fefefe;
                        margin: 15% auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 80%; 
                        height: 299.26px;

                        .cont{
                            text-align: left;
                            margin: 10px 10px 10px 30px;
                            @include space-aroung-grid();
                            
                            .modal-header{
                                display: grid;

                                .close{
                                    text-align: right;
                                }
                            }

                            .modal-header h2{
                                color: $blue;
                                font-size: 20px;
                            }

                            .value{
                                color: $blue;
                                font-size: 20;
                                font-weight:bold;
                            }

                            .desc{
                                color: $gray-black;
                                font-size: 10px;
                            }

                            .more a{
                                color: $blue;
                                text-decoration: none;
                                font-size: 12px;
                            }

                            .quant{
                                width: 110px;
                                height: 36px;
                                border: solid 2px $blue;
                                border-radius: 8px;
                                @include space-around();

                                button{
                                    background-color: white;
                                    border: none;
                                    width: 20.31px;
                                    height: 19.64px;
                                    color: $blue;
                                }

                                p{
                                    color: $blue;
                                }
                                
                                button:hover{
                                    cursor: pointer;
                                }
                            }

                            button{
                                width: 245px;
                                height: 44px;
                                background-color: $primarycolor;
                                color: white;
                                border: none;
                                border-radius: 8px;
                                cursor:pointer;
                            }
                        }

                        .img{
                            margin: 10px 30px 10px 10px;

                        }*/
                }

                .close {
                    color: #aaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                }

                .close:hover,
                .close:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }

            }

            .nameProduct,
            .valueTrue,
            .valueFinal,
            .installments,
            .frete {
                text-align: left;
            }
        }
    }

    .partners {
        margin: 50px 0 50px 0;
        @include space-between();

        .card {
            background-image: url("../public/img/image.png");
            width: 589.73px;
            height: 350px;
            border-radius: 10px;
            box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
            @include flex-start();

            .cardContent {
                @include center-grid();
                text-align: left;
                color: white;
                margin: 35px;
                align-items: self-end;
                align-self: self-end;
                height: 200px;

                h2 {
                    font-weight: bold;
                    font-size: 40px;
                    width: 196px;
                    height: 60px;
                }

                h1 {
                    font-weight: lighter;
                    font-size: 16px;
                    width: 181px;
                    height: 48px;
                }

                .btn {
                    width: 131px;
                    height: 48px;
                    color: white;
                    background-color: $primarycolor;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    .title-products-related {
        margin: 70px 0 70px 0;


        .hr {
            display: flex;
            justify-content: space-around;

            hr {
                align-self: center;
                width: 30%;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 30px;
            align-self: center;
        }

        h1 {
            font-size: 15px;
            font-weight: bold;
            color: $gray-black;
            align-self: center;
        }
    }

    .products-related {
        @include space-between();

        .card {
            background-image: url("../public/img/image.png");
            width: 589.73px;
            height: 284px;
            border-radius: 10px;
            box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
            @include flex-start();

            .cardContent {
                @include center-grid();
                text-align: left;
                color: white;
                margin: 35px;
                align-self: self-end;
                height: 70%;

                h2 {
                    font-weight: bold;
                    font-size: 40px;
                    width: 196px;
                    height: 60px;
                }

                h1 {
                    font-weight: lighter;
                    font-size: 16px;
                    width: 181px;
                    height: 48px;
                }

                .btn {
                    width: 131px;
                    height: 48px;
                    color: white;
                    background-color: $primarycolor;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    .brands {
        width: 100%;
        height: 331px;

        h1 {
            color: $primarycolor;
            font-size: 30px;
            font-weight: bold;
            margin: 70px 0 70px 0;
        }

        .icons {
            @include space-between();

            .icon {
                background-color: white;
                width: 211px;
                height: 211px;
                border-radius: 50%;
                box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.2);
                @include flex-center();
            }
        }
    }
}

.footer {
    background-color: $footer;
    height: 325px;
    margin-top: 70px;
    padding: 45px;
    color: white;
    @include space-around-start();

    .about,
    .information,
    .payment {
        text-align: left;
        height: 100%;

        h1 {
            font-weight: bold;
            font-size: 13px;
        }

        h2 {
            font-weight: lighter;
            font-size: 12px;
            margin-bottom: 20px;
        }

        .icons {
            justify-content: space-between;
            display: flex;

            .social {
                width: 22.02px;
                height: 22px;
                cursor: pointer;
            }
        }

        .title, .cont{
            margin-bottom: 80px;
        }
        
    }

    .register {
        width: 380px;
        height: 260px;
        background-color: white;
        color: $gray-black;
        border-radius: 8px;
        display: grid;
        align-items: center;

        .cont {
            height: 70%;
            display: grid;
            align-items: center;
            margin: 0 25px 0 25px;


            h1 {
                font-weight: lighter;
                font-size: 18px;
            }

            h2 {
                font-weight: bold;
                font-size: 22px;
            }

            .desc {
                h3 {
                    font-weight: lighter;
                    font-size: 12px;
                    width: 90%;
                }
            }

            .btn {
                input {
                    height: 45px;
                    border-radius: 8px;
                    margin-right: 5px;
                    padding: 0 15px 0;
                    border: solid 0.5px;
                    font-size: 12px;
                    
                }

                button {
                    height: 45px;
                    background-color: $primarycolor;
                    color: white;
                    border-radius: 8px;
                    border: none;
                    margin-left: 5px;
                }
            }
        }
    }

    .payment {
        .img {
            display: grid;
            grid-template-columns: repeat(3, 3fr);
        }

        .img .imgPayment {
            width: 55px;
            height: 30.31px;
            margin: 0px 20px 0px 0px;
            //padding: 0 20px 20px 0;
        }

    }

    .register {
        align-self: center;

        .title {
            text-align: initial;
        }

        input {
            width: 190px;
            height: 45px;
        }

        button {
            width: 62px;
            height: 45px;
        }
    }
}

.copyright {
    background-color: $footer;
    padding: 10px;
    color: white;
    @include space-around();

    h1 {
        font-weight: lighter;
        width: 698px;
        font-size: 10px;
        text-align: initial;
    }

    .img {
        display: flex;
    }

    .imgVtex,
    .imgEconverse {
        margin: 0 8px 0 8px;
        width: 106.25px;
        height: 31.62px;
    }
}